<!DOCTYPE html>
<html>
<head>
    <title>Name of app</title>
    <link rel="stylesheet" href="js/jquery-ui-1.11.3/jquery-ui.min.css">
    <link rel="stylesheet" href="js/jquery-ui-1.11.3/jquery-ui.theme.css">
    <!-- include stylesheets from other modules -->
    <!-- <link rel="stylesheet" href="js/modulefolder/stylesheetfile.css"> -->
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>

<div id="welcome">



</div>


<script src="js/jquery-1.11.2.js" type="text/javascript" ></script>
<!-- include js script from other modules -->
<!-- <script src="js/modulefolder/scriptfile.js" ></script> -->
<script src="js/jquery-ui-1.11.3/jquery-ui.min.js" ></script>
<script async type="text/javascript" src="js/myapp-0.0.1.js"></script>
</body>
</html>